rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default deny all other paths
    match /{document=**} {
      allow read, write: if false;
    }

    // Health check collection
    match /system/{docId} {
      allow read: if true;
      allow write: if false;
    }

    // Patients collection
    match /patients/{patientId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if true;
    }

    // Professionals collection
    match /professionals/{profId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    // Appointments collection
    match /appointments/{appointmentId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if true;
    }
  }
}
